.image-container-home{
    display:flex;
    justify-content: center;
}

.homeFilter{
    display:flex;
    justify-content: space-evenly;
    margin:15px;
  
}

.report{
    margin-bottom:12px;
}

.image-container{
    display:flex;
    justify-content: center;
    padding:15px;
    margin:5px;
    border: 1px solid #000;
}

.imageDelete{
    display:block;
    justify-content: center;
    text-align: center;
}

.homeButtonHome{
    display:flex;
    justify-content: space-between;
    padding:10px;
    margin:5px;
}

.homeButton1 .btn{
    width: 165%;
    font-size: 20px;
    margin-left:60%;
}

.homeButton2 .btn{
    width: 210%;
    cursor: not-allowed;
    font-size: 20px;
    margin-left:-185%;
}

.homeButton3 .btn{
    width: 180%;
    font-size: 20px;
    margin-left:-145%;
}

.homeButton4 .btn{
    width: 260%;
    cursor: not-allowed;
    font-size: 20px;
    margin-left:-260%;
}


.foreachImage{
    display:flex;
    justify-content: center;
    padding:20px;
    margin:5px;
    border: 1px solid #000;
}

.foreachImage img{
    display:block;
    text-align: center;
    padding:1px;
    margin:5px;
    border: 2px solid #000;
}

.description{
    padding-left:40px;
    padding-top:10px;
    padding-bottom:10px;
    margin:5px;
    border: 1px solid #000;
    font-size: 16px;
}

.textFont{
    font-size: 16px;
}

.listCustomer{
    display: flex;
    justify-content: space-evenly;
}

.listUser{
    display:flex;
    justify-content: space-evenly;
}